/* src/stylesheets/components/Footer.css */
.footer {
    width: 100%;
    background-color: var(--bg);
    color: white;
    padding: 1rem;
    text-align: center;
    /* No need for position: fixed as we're using flexbox to push it down */
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}