.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--bg);
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius);
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}